.text-input {
    display: inline-block;
    padding: 10px;
}

.text-input label {
    display: block;
    margin-bottom: 2px;
    font-size: 85%;
}

.text-input input, .text-input select {
    width: 100%;
}