.spells-list {
    width: 32.333%;
    padding: 1%;
}

.spells-list h4 {
    margin: 10px 0 4px;
}

.spells-list ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.spells-list li {
    margin: 4px 0;
    padding: 10px;
}

.spell-description {
    display: block;
    max-height: 50px;
    overflow: auto;
    font-size: 90%;
}

.spells-list input[type="text"], .spells-list textarea {
    margin-left: -5px;
}

.spells-list input.read, .spells-list textarea.read {
    border: 0;
    background-color: transparent;
    resize: none;
}