.page-wrapper {
    padding: 50px 0;
    background-color: #666; /* 😈 */
}

.page-wrapper a {
    text-decoration: none;
}

.page-wrapper a:hover {
    text-decoration: underline;
}

.page {
    margin: auto;
    max-width: 85%;
    min-width: 600px;
    color: #efefef;
}

.sheet-section {
    padding: 1em;
    border-radius: 1px;
    background-color: rgba(255, 255, 255, 0.85);
    color: #444;
}

.sheet-section a {
    color: dodgerblue;
}

.flex {
    display: flex;
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.round-label {
    display: inline-flex;
    padding: 5px 10px;
    border-radius: 25px;
    background-color: #eee;
}

.form-hint {
    display: block;
    margin-top: 5px;
    font-size: 75%;
    opacity: 0.7;
}

.clear-button {
    display: inline-block;
    margin-left: 10px;
    font-size: 90%;
}

.button {
    display: inline-block;
    margin: 4px;
    padding: 1px 3px;
    border-radius: 2px;
    border: 1px solid dodgerblue;
    font-size: 80%;
    color: dodgerblue;
}
.button:hover, .button--feature:hover {
    background-color: dodgerblue;
    color: #fff;
    text-decoration: none!important;
    cursor: pointer;
}
.button.red {
    border-color: #D83737;
    color: #D83737;
}
.button.red:hover {
    background-color: #D83737;
    color: #fff;
}
.button--feature {
    display: inline-block;
    padding: 0.5em 1em;
    background-color: #fff;
    border-radius: 25px;
    color: dodgerblue;
}
.button--feature svg {
    height: 1.1em;
    margin-bottom: -0.15em;
    margin-right: 0.35em;
    fill: dodgerblue;
}
.button--feature:hover svg {
    fill: #fff;
}


.error {
    color: #D83737;
}

.spells-list-container {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.new-spell-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5em;
}

.new-spell-form > * {
    margin: 4px;
}