.page-wrapper {
    padding: 50px 0;
    background-color: #666; /* 😈 */
}

.page-wrapper a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}

.page-wrapper a:hover {
    text-decoration: underline;
}

.page {
    margin: auto;
    max-width: 85%;
    min-width: 600px;
    color: #efefef;
}

.sheet-section {
    padding: 1em;
    border-radius: 1px;
    background-color: rgba(255, 255, 255, 0.85);
    color: #444;
}

.sheet-section a {
    color: dodgerblue;
}

.flex {
    display: flex;
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.round-label {
    display: inline-flex;
    padding: 5px 10px;
    border-radius: 25px;
    background-color: #eee;
}

.form-hint {
    display: block;
    margin-top: 5px;
    font-size: 75%;
    opacity: 0.7;
}

.clear-button {
    display: inline-block;
    margin-left: 10px;
    font-size: 90%;
}