.page-wrapper, .main-footer {
    padding: 50px 0;
    background-color: #666; /* 😈 */
}

.page-wrapper {
    a {
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}

.page {
    margin: auto;
    max-width: 85%;
    min-width: 800px;
    color: #efefef;
    svg {
        fill: #efefef;
    }
    .svg-as-img {
        filter: invert(99%) sepia(3%) saturate(384%) hue-rotate(237deg) brightness(112%) contrast(87%);
    }
}

.sheet-section {
    padding: 1em;
    border-radius: 1px;
    background-color: rgba(255, 255, 255, 0.85);
    color: #444;
    a {
        color: dodgerblue;
    }
    svg {
        fill: #444;
    }
}

.flex {
    display: flex;
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.round-label {
    display: inline-flex;
    padding: 5px 10px;
    border-radius: 25px;
    background-color: #eee;
}

.form-hint {
    display: block;
    margin-top: 5px;
    font-size: 75%;
    opacity: 0.7;
}

.clear-button {
    display: inline-block;
    margin-left: 10px;
    font-size: 90%;
}

.button {
    -webkit-appearance: none;
    appearance: none;
    display: inline-block;
    margin: 4px;
    padding: 2px 3px;
    border-radius: 2px;
    border: 1px solid dodgerblue;
    font-size: 0.8rem;
    color: dodgerblue;
    background-color: transparent;
    cursor: pointer;
    line-height: 1;
    &:hover {
        background-color: dodgerblue;
        color: #fff;
        text-decoration: none!important;
    }
    &.red {
        border-color: #D83737;
        color: #D83737;
        &:hover {
            background-color: #D83737;
            color: #fff;
        }
    }
}

.button--feature {
    display: inline-block;
    margin: 1em;
    padding: 0.5em 1em;
    background-color: #fff;
    border-radius: 25px;
    color: dodgerblue;
    &:hover {
        background-color: dodgerblue;
        color: #fff;
        text-decoration: none!important;
        svg {
            fill: #fff;
        }
    }
    svg {
        height: 1.1em;
        margin-bottom: -0.15em;
        margin-right: 0.35em;
        fill: dodgerblue;
    }
}


.error {
    color: #D83737;
}

.item-list-container {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.equipment-list-container {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 90%;
    li {
        margin: 4px 0;
        padding: 10px;
        &:not(first-child) {
            border-top: 1px solid #ccc;
        }
        > div {
            display: inline;
        }
    }
}

.new-item-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5em;
}

.new-item-form {
    > * {
        margin: 4px;
    }
    .util-text-input label {
        display: none;
    }
}

.main-footer {
    text-align: center;
    font-size: 80%;
    color: rgba(255,255,255,0.5);
    a {
        opacity: 0.75;
        font-weight: bold;
    }
}

.section-heading {
    margin-top: 1.75em;
    text-shadow: 1px 1px 1px rgba(#000, 0.2);
}