.page-wrapper {
    min-height: 100vh;
    a {
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}

.flex {
    display: flex;
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.round-label {
    display: inline-flex;
    padding: 5px 10px;
    border-radius: 25px;
    background-color: #eee;
}

.form-hint {
    display: block;
    margin-top: 5px;
    font-size: 75%;
    opacity: 0.7;
}

.heading-button {
    display: inline-block;
    margin-left: 10px;
    font-size: 90%;
}

.button {
    -webkit-appearance: none;
    appearance: none;
    display: inline-block;
    margin: 4px;
    padding: 2px 3px;
    border-radius: 2px;
    border: 1px solid dodgerblue;
    font-size: 0.8rem;
    color: dodgerblue;
    background-color: #fff;
    cursor: pointer;
    line-height: 1;
    &:hover {
        background-color: dodgerblue;
        color: #fff;
        text-decoration: none!important;
    }
    &.red {
        border-color: #D83737;
        color: #D83737;
        &:hover {
            background-color: #D83737;
            color: #fff;
        }
    }
}

.button--feature {
    display: inline-block;
    margin: 1em;
    padding: 0.5em 1em;
    background-color: #fff;
    border-radius: 25px;
    color: dodgerblue;
    &:hover {
        background-color: dodgerblue;
        color: #fff;
        text-decoration: none!important;
        svg {
            fill: #fff;
        }
    }
    svg {
        height: 1.1em;
        margin-bottom: -0.15em;
        margin-right: 0.35em;
        fill: dodgerblue;
    }
}


.error {
    color: #D83737;
}

.item-list-container {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    &.single-category {
        .item-list {
            width: 100%;
            padding: 0;
            > ul {
                display: flex;
                align-items: flex-start;
                flex-wrap: wrap;
                > li {
                    width: 31.333%;
                    margin: 1%;
                }
            }
        }
    }
}

.equipment-list-container {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 90%;
    li {
        margin: 4px 0;
        padding: 10px;
        &:not(first-child) {
            border-top: 1px solid #ccc;
        }
        > div {
            display: inline;
        }
    }
}

.new-item-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5em;
}

.new-item-form {
    > * {
        margin: 4px;
    }
    .util-text-input label {
        display: none;
    }
}

.main-footer {
    padding: 2% 8%;
    text-align: center;
    font-size: 80%;
    a {
        opacity: 0.75;
        font-weight: bold;
    }
}

.main-header {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 4px;
    background-color: rgba(#fff, 0.65);
    text-align: center;
}

.section-heading {
    margin-top: 1.75em;
    text-shadow: 1px 1px 1px rgba(#000, 0.2);
}

.switcher {
    display: inline-block;
    position: relative;
    margin: auto;
    &:not(.showing) .switcher-menu {
        display: none;
    }
}

.switcher-menu {
    list-style: none;
    display: block;
    position: absolute;
    max-height: 200px;
    width: 250px;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 0 3px rgba(#000, 0.25);
    text-align: left;
    li {
        &:not(:last-child) {
            border-bottom: 1px solid #eee;
        }
        a:not(.red) {
            display: block;
            padding: 8px 14px;
            color: #444;
            &:hover {
                background-color: dodgerblue;
                color: #fff;
                text-decoration: none;
            }
        }
        a.red {
            float: right;
            margin: 7px;
            padding: 4px;
        }
    }
}

#create-new-character-button {
    color: dodgerblue;
    text-align: center;
    &:hover {
        color: #fff;
    }
}