* {
    box-sizing: border-box;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: sans-serif;
}

input[type="text"], select, textarea {
    padding: 5px;
    border-radius: 2px;
    border: 1px solid #aaa;
    font-size: 110%;
    line-height: 1.25;
}

input[type="text"][readonly] {
    background-color: transparent;
}

input[type="checkbox"], input[type="radio"] {
    margin-right: 5px;
}

h1 small, h2 small, h3 small {
    font-size: 0.825rem;
    font-weight: normal;
    opacity: 0.75;
}

a {
    cursor: pointer;
}